.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2.4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &__tags-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
  }
}
