.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 140rem;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #08fdd8;
  padding-right: 1.6rem;

  margin-bottom: 1.6rem;
  z-index: 10;
  background-color: rgba(33, 37, 41, 0.7);
  backdrop-filter: blur(3px);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);

  &_img_container {
    background-color: rgba(33, 37, 41, 0.7);
  }

  &_img {
    width: 10rem;
    height: 9rem;
    background-color: rgba(33, 37, 41, 0.7);
    object-fit: cover;
    cursor: pointer;
  }

  &_search {
    max-width: 25rem;

    width: 100%;

    border: none;
    background: #2b2b2b;
    height: 5rem;
    font-size: 1.6rem;
    color: #08fdd8;
    padding: 0.5rem 2rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1rem;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active,
    &:-webkit-autofill:focus {
      background-color: #2b2b2b !important;
      color: #08fdd8 !important;
      box-shadow: 0 0 0 1000px #2b2b2b inset !important;
      -webkit-box-shadow: 0 0 0 1000px #2b2b2b inset !important;
      -webkit-text-fill-color: #08fdd8 !important;
    }

    &::npm-internal-autofill-selected {
      background: #2b2b2b;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.1rem rgb(8, 253, 216);
      transition-timing-function: ease-in;
      transition: all 0.3s ease-in;
    }
  }
  &_switch {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: #c5f6fa;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #08fdd8;
    }
  }

  &_icon {
    width: 3rem;
    height: 3rem;
    animation: fade-in 0.5s ease-in-out;
  }

  &_title {
    color: #08fdd8;
  }

  &_link {
    position: relative;
    color: inherit;
    text-decoration: inherit;
    transition: transform 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: #08fdd8;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: #08fdd8;
      height: 0.1rem;
      width: 100%;
      left: 0;

      bottom: -0.6rem;

      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease-in-out;
    }
    &:hover:after {
      width: 100%;
      transform-origin: left;
      transform: scale(1);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
