@import "./utils.scss";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;

  scroll-behavior: smooth;

  @include responsive(map-get($breakpoints, tablet)) {
    font-size: 56.25%;
  }

  @include responsive(map-get($breakpoints, laptop)) {
    font-size: 62.25%;
  }
}

body {
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "ui-monospace", "monospace", sans-serif;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.light {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c5f6fa;
  color: #212529;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.dark {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212529;
  color: #c5f6fa;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  h1 {
    color: #08fdd8;
  }

  h2 {
    color: #08fdd8;
  }
}
