@import "./utils.scss";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;

  scroll-behavior: smooth;

  @include responsive(map-get($breakpoints, tablet)) {
    font-size: 56.25%;
  }

  @include responsive(map-get($breakpoints, laptop)) {
    font-size: 62.25%;
  }
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "ui-monospace", "monospace", sans-serif;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212529;
  color: #c5f6fa;
  min-height: 100vh;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  h1 {
    color: #08fdd8;
  }

  h2 {
    color: #08fdd8;
  }
}

.page {
  width: 100%;
  max-width: 140rem;

  margin-top: 13.6rem;
  margin-bottom: 3.6rem;
}

.page-centered {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mg-top {
  margin-top: 13.6rem;
}

li {
  list-style-type: none;
  position: relative;
  margin-left: 2rem;
}

li::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: #08fdd8;
  border-radius: 50%;
  position: absolute;
  left: -2rem;
  top: 40%;
}
